.comeco {text-align:end;
  font-family: Cambria, sans-serif;
  width: 100%;
  color: black;
  max-width: 100%;
  margin: 0% 0%;
  line-height: 1.5;
  padding: 0;
}

body {
  text-align:center;
  font-family: Arial, sans-serif;
  width: 75%;
  background-color: rgb(253, 251, 251);
  color: black;
  max-width: 75%;
  margin: 3% auto;
  line-height: 1.5;
  padding: 0;
  font-size: 17px;
  
}
p{text-align: justify;
margin-left: 5%;
}
.final {
  font-size: 12px;
}
h1{text-align: justify;
  color: Black;
  font-size: 60px;
  margin: 0% auto;
}
h2{color: black;
}
ul{
  list-style-type: none;
  line-height: 2;
}
.menu1 a{
  color: white;
  text-align: center;
  align-items: center;
  text-decoration: none;
  }

.menu1 li {
  display: inline-block;
  line-height: 3;
  text-align: center;
  margin: 0 4%;
}
.menu1{
  background-color: rgb(92, 21, 21); 
  text-align: center;
}
img {
  width: 300px;
 margin: auto;
 align-items: center;
}
.container {
  display: inline-flex;
  align-items: center;
}
.contatos {
  display: inline-block;
  align: center;
}
.menupubli a{
  color: black;
  font-weight: bold;
  line-height:2.5;
 text-align: center;
  text-decoration: none;
  }
.menupubli{
  text-align: center;
  margin: 0 25%;
  text-decoration: underline;
}
h4 {
 text-align: justify;
 margin-left: 5%;
}
.publi1 li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.publi1 a {
  color: #1d0f33;
  text-decoration: none;
}
.publi2 li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.publi2 a {
  color: #1d0f33;
  text-decoration: none;
}
.publi3 li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.publi3 a {
  color: #1d0f33;
  text-decoration: none;
}
.publi4 li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.publi4 a {
  color: #1d0f33;
  text-decoration: none;
}
.publi5 li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.publi5 a {
  color: #1d0f33;
  text-decoration: none;
}
.publi6 li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.publi6 a {
  color: #1d0f33;
  text-decoration: none;
}
.publi7 li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.publi7 a {
  color: #1d0f33;
  text-decoration: none;
}
.menudados a{
  color: black;
  font-weight: bold;
  line-height:2.5;
 text-align: center;
  text-decoration: none;
  }
.menudados{
  text-align: center;
  margin: 0 25%;
  text-decoration: underline;
}
.htmlcssjs li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.htmlcssjs a {
  color: #1d0f33;
  text-decoration: none;
}
.codr li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.codr a {
  color: #1d0f33;
  text-decoration: none;
}
.dados li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.dados a {
  color: #1d0f33;
  text-decoration: none;
}
