.comeco {text-align:end;
  font-family: Times New Roman, sans-serif;
  width: 100%;
  color: black;
  max-width: 100%;
  margin: 0% 0%;
  line-height: 1.5;
  padding: 0;
}

body {
  text-align:center;
  font-family: Times New Roman, sans-serif;
  width: 75%;
  background-color: white(249, 248, 250);
  color: black;
  max-width: 80%;
  margin: 3% auto;
  line-height: 1.5;
  padding: 0;
  font-size: 18px;
  
}
p{text-align: justify;
margin-left: 5%;
}
h1{text-align: justify;
  color: Black;
  font-size: 60px;
  margin: 0% auto;
}
h2{color: black;
}
ul{
  list-style-type: none;
  line-height: 2;
}
.menu1 a{
  color: white;
  text-align: center;
  align-items: center;
  text-decoration: none;
  }

.menu1 li {
  display: inline-block;
  line-height: 3;
  text-align: center;
  margin: 0 6%;
}
.menu1{
  background-color: rgb(92, 21, 21); 
  text-align: center;
}
img {
  width: 30%;
 margin: auto;
 align-items: center;
}
.container {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}
.contatos {
  display: inline-block;
  align: center;
}
.menupubli a{
  color: black;
  font-weight: bold;
  line-height:2.5;
 text-align: center;
  text-decoration: none;
  }
.menupubli{
  text-align: center;
  margin: 0 25%;
  text-decoration: underline;
}
h4 {
 text-align: justify;
 margin-left: 5%;
}
.publi1 li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.publi1 a {
  color: #1d0f33;
  text-decoration: none;
}
.publi2 li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.publi2 a {
  color: #1d0f33;
  text-decoration: none;
}
.publi3 li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.publi3 a {
  color: #1d0f33;
  text-decoration: none;
}
.publi4 li {
  color: black;
  font-weight: bold;
  line-height:2.5;
  }
.publi4 a {
  color: #1d0f33;
  text-decoration: none;
}
